@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Shippori+Antique+B1&display=swap');
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(223, 223, 223); 
    /* border-radius: 10px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    /* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


body {
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    margin: 0;
    right: 0;
    left: 0;
    height: 100px;
    background-color: lightgrey;
}

h1 {
    font-family: "Mochiy Pop One", "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

#headerStyle {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #feffff;
    box-shadow: 0 0px 0px rgb(189, 189, 189);
    transition: 0.3s ease;
}

#navLinkes {
    display: flex;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: 80px;
}

.navInfo {
    position: relative;
    margin: 0;
    padding: 0px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 1E98BA 0px solid;
    text-underline-offset: 5px;
    transition: 0.3s ease;
}

.navInfo > ul{
    position: absolute;
    right: 5px;
    /* left: 0; */
    margin: 0;
    padding: 0;
    width: 90%;
    color: transparent;
    background-color: transparent;
    box-shadow: 0 3px 3px rgb(189, 189, 189);
    list-style-type: none;
    visibility: hidden;
    line-height: 40px;
    transition: 0.3s ease;
}

.navInfo:hover > ul{
    color: black;
    background-color: #f1f1f1;
    visibility: visible;
}

.navMore {
    border: 0px solid black;
}
.navMore:hover {
    border: 1px solid black;
}

.navInfo:hover {
    /* background-color: #0d1857; */
    transform: scaleX(1.1);
    text-decoration: solid underline 3px #363636;
}

#navLogin, #navLogin:visited {
    margin: 18px 20px 0 auto;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: large;
    text-align: center;
    text-decoration-line: none;
    line-height: 40px;
    transition: 0.3s ease;
}

#navLogin:hover {
    color: #fff;
    background-color: #263ec7;
}

.navNow {
    transform: scaleX(1.1);
    text-decoration: solid underline 3px #363636;
}
.navNow:hover {
    transform: scaleX(1.1);
}

.pageTop {
    background-color: rgb(230, 230, 230);
    height: 99vh;
    margin-bottom: 0;
}

.info {
    margin-top: 0;
    padding-top: 1px;
    background-color: aqua;
    height: 600px;
}

.CardSlider{
    display: flex;
    height: 600px;
    background-color: #6c7ee6;
}

.cards {
    width: 300px;
    height: 500px;
    margin: auto;
    padding: 0;
    background-color: rgb(248, 235, 235);
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    transition: 0.2s ease;
    position: relative;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.cards > a {
    text-decoration-line: none;
}

.imgBorder {
    position: relative;
    width: 100%;
    height: 220px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.imgBorder > img {
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cardLink {
    text-align: left;
    color: black;
}

.cardLink > h2 {
    display: inline;
    margin: 0 50px 0 0;
    font-size: 2.5em;
}

.cardLink > h3 {
    margin: 0 0 10px 28px;
    color: #636363;
    font-size: 1.2rem;
}

.cardList {
    margin-top: 0;
    list-style-type: none;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}

.cardList > li {
    margin-top: 5px;
}

.cardLink::after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-image: url(../img/icon/8679829_external_link_icon.svg);
    background-repeat: no-repeat;
    /* margin: 0 0 100px 0; */
    height: 30px;
    width: 30px;
    font-size: larger;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}


/* .calculator {
    position: fixed;
    margin: auto;
    bottom: -50px;
    left: 0;
    right: 0;
    width: 800px;
    padding: 0px 20px 20px 15px;
    background-color: #fff;
    border: 1px solid rgb(151, 200, 255);
    border-radius: 30px 30px 0 0;
    box-shadow: 1px 3px 10px rgb(164, 192, 224);
    overflow-y: hidden;
    max-height: 100px;
    transition: max-height 0.3s linear, bottom 0.3s linear;
}

.calculator:hover {
    bottom: 0;
    max-height: 380px;
} */

.calculator {
    margin: 50px 10%;
    padding: 0px 20px 20px 15px;
    background-color: #fff;
    border: 1px solid rgb(151, 200, 255);
    border-radius: 30px;
    box-shadow: 1px 3px 10px rgb(164, 192, 224);
    overflow-y: hidden;
}

.hideTool {
    max-height: 180px;
    transition: max-height 0.5s linear;
}

.hideTool:hover {
    max-height: 300px;
}

.calculator > H2 {
    text-align: center;
}

.calculator_col1 {
    text-align: center;
    font-size: large;
}

.calculator_col1>.cal_padding {
    padding: 15px;
}

.calculator_col2 {
    padding-left: 40px;
}

.calculator_col2 > .cal_padding {
    padding: 5px;
}

#i_Weight,
.i_PV {
    outline: none;
    width: 40px;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 20px;
}

#i_Weight:hover,
.i_PV:hover {
    border-bottom: 1px solid blue;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(226, 248, 255);
}

#i_Weight:focus,
.i_PV:focus {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(244, 253, 255);
    box-shadow: 1px 3px 5px rgb(164, 197, 224);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#w_Sort {
    padding: 3px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
}

#btn_wFilterSort {
    margin: 0px 0px 0px 20px;
    padding: 1px 15px 3px;
    color: #F5F5F5;
    background-color: rgb(72, 116, 182);
    border: 0px dashed blue;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(130, 154, 173);
    font-size: 20px;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}

#btn_wFilterSort:hover {
    background-color: rgb(39, 118, 187);
    border: 0px solid blue;
    box-shadow: 1px 1px 2px rgb(48, 68, 85);
}

#btn_wFilterSort:active {
    background-color: rgb(30, 93, 148);
    border: 0px solid blue;
    box-shadow: 2px 2px 3px rgb(21, 42, 61) inset;
}

.FSscroll {
    overflow-y: scroll;
}

.FSscroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.FSscroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

.FSscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(187, 214, 255);
}

.FSscroll::-webkit-scrollbar-thumb:hover {
    background: #6c7ee6;
}