@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Shippori+Antique+B1&display=swap&family=Dela+Gothic+One&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(223, 223, 223);
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #165e83;
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #274a78;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    color: #192f60;
}


body {
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
    /* background: #0f2350; */
}

main {
    background-color: #7CCED4;
    padding-bottom: 5vh;
}

footer {
    /* position: absolute; */
    padding-top: 1px;
    right: 0;
    left: 0;
    height: 2vh;
    background-color: #0f2350;
}

#headerStyle {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #C1E6EC;
    box-shadow: 0 0px 0px rgb(189, 189, 189);
    transition: 0.3s ease;
}

#navLinkes {
    display: none;
}

@media(min-width: 768px) {
    #navLinkes {
        display: flex;
    }
}

#navLinkes {
    height: 100%;
    margin: 0;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 80px;
    font-size: larger;
}

.navInfo {
    position: relative;
    margin: 0;
    padding: 0px 30px;
    /* color: black; */
    text-align: center;
    text-decoration: none;
    border: 1E98BA 0px solid;
    text-underline-offset: 5px;
    transition: 0.3s ease;
}

@media(min-width: 992px) {
    .navInfo {
        padding: 0px 3%;
    }
}

.navInfo>ul {
    position: absolute;
    right: 5px;
    /* left: 0; */
    margin: 0;
    padding: 0;
    width: 90%;
    color: transparent;
    background-color: transparent;
    box-shadow: 0 3px 3px rgb(189, 189, 189);
    list-style-type: none;
    visibility: hidden;
    line-height: 40px;
    transition: 0.3s ease;
}

.navInfo:hover>ul {
    color: #262E4F;
    background-color: #f1f1f1;
    visibility: visible;
}

.navMore {
    border: 0px solid black;
}

.navMore:hover {
    border: 1px solid black;
}

.navInfo:hover {
    /* background-color: #0d1857; */
    transform: scaleX(1.1);
    text-decoration: solid underline 3px #363636;
}

#navLogin,
#navLogin:visited {
    margin: 18px 20px 0 auto;
    width: 100px;
    border: 2px solid black;
    border-radius: 50px;
    font-size: large;
    text-align: center;
    text-decoration-line: none;
    line-height: 40px;
    transition: 0.3s ease;
}

#navLogin:hover {
    color: #fff;
    background-color: #263ec7;
}

.navNow {
    transform: scaleX(1.1);
    text-decoration: solid underline 3px #363636;
}

.navNow:hover {
    transform: scaleX(1.1);
}

#openMenu {
    margin: 20px auto auto 85%;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

#openMenu,
#myNav {
    display: block;
}

@media(min-width: 768px) {

    #openMenu,
    #myNav {
        display: none;
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #cecece;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.IndexTop {
    background-color: #C1E6EC;
    height: 102vh;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

.TopBG>img {
    position: absolute;
}

.topbgSun {
    top: 15vh;
    right: -10%;
    width: 50%;
}

@media(min-width: 768px) {
    .topbgSun {
        top: 15vh;
        right: -3%;
        width: 35%;
    }
}

@media(min-width: 992px) {
    .topbgSun {
        top: 12vh;
        right: 6%;
        width: 23%;
    }
}

.topbgCloud1 {
    bottom: 25vh;
    left: 8%;
    width: 30%;
}

@media(min-width: 768px) {
    .topbgCloud1 {
        bottom: 26vh;
        left: -8%;
        width: 35%;
    }
}

@media(min-width: 992px) {
    .topbgCloud1 {
        bottom: 32vh;
        left: 4%;
        width: 20%;
    }
}

.topbgCloud2 {
    top: 12%;
    left: -8%;
    width: 50%;
}

@media(min-width: 768px) {
    .topbgCloud2 {
        top: 9%;
        left: 0%;
    }
}

@media(min-width: 992px) {
    .topbgCloud2 {
        top: 9%;
        left: 12%;
        width: 28%;
    }
}

.topbgSeagull1 {
    top: 50%;
    left: 4%;
    width: 10%;
}

@media(min-width: 768px) {
    .topbgSeagull1 {
        top: 58%;
        left: 10%;
        width: 8%;
    }
}

@media(min-width: 992px) {
    .topbgSeagull1 {
        top: 48%;
        left: 7%;
        width: 4%;
    }
}

.topbgSeagull2 {
    top: 19%;
    left: 17%;
    width: 18%;
}

@media(min-width: 768px) {
    .topbgSeagull2 {
        top: 19%;
        left: 28%;
        width: 14%;
    }
}

@media(min-width: 992px) {
    .topbgSeagull2 {
        top: 20%;
        left: 35%;
        width: 4%;
    }
}

.topbgSeagull3 {
    top: 30%;
    right: 2%;
    width: 18%;
}

@media(min-width: 768px) {
    .topbgSeagull3 {
        top: 29%;
        right: -2%;
        width: 14%;
    }
}

@media(min-width: 992px) {
    .topbgSeagull3 {
        top: 60%;
        right: 5%;
        width: 7%;
    }
}

.topbgAirplane {
    bottom: 18vh;
    /* left: auto; */
    right: -46%;
    width: 110%;
}

@media(min-width: 768px) {
    .topbgAirplane {
        bottom: 13vh;
        /* left: auto; */
        right: -46%;
        width: 110%;
    }
}

@media(min-width: 992px) {
    .topbgAirplane {
        bottom: 12vh;
        left: auto;
        right: 18%;
        width: 48%;
    }
}

.topbgCloud {
    bottom: -20vh;
    left: -50%;
    width: 350%;
}

@media(min-width: 768px) {
    .topbgCloud {
        bottom: -10vh;
        left: -30%;
        width: 200%;
    }
}

@media(min-width: 992px) {
    .topbgCloud {
        bottom: -25vh;
        left: -10%;
        width: 120%;
    }
}

.IndexTop>h1 {
    position: absolute;
    top: 34vh;
    left: auto;
    right: 17vw;
    margin: 0;
    font-family: "Dela Gothic One", "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    width: 200px;
    color: #0f2350;
    padding: 10px 20px;
    border: 5px solid #0f2350;
    background-color: #fff;
}

@media(min-width: 768px) {
    .IndexTop>h1 {
        top: 30vh;
        right: 24%;
        font-size: 80px;
        width: 320px;
        padding: 10px 40px;
        border: 5px solid #0f2350;
        background-color: #fff;
    }
}

@media(min-width: 992px) {
    .IndexTop>h1 {
        top: 33vh;
        right: 28%;
        font-size: 100px;
        width: 800px;
        padding: 10px 50px;
    }
}


.pageTop {
    background-color: #263ec7;
    height: 12lh;
}

@media(min-width: 768px) {
    .pageTop {
        background-color: #263ec7;
        height: 15lh;
    }
}


.pageTop>h1 {
    padding: 3lh 0 0 10%;
    color: #fff;
    font-size: 45px;
    position: absolute;
}

@media(min-width: 768px) {
    .pageTop>h1 {
        padding: 2lh 0 0 8%;
        font-size: 65px;
    }
}

@media(min-width: 992px) {
    .pageTop>h1 {
        padding: 1.8lh 0 0 6%;
        font-size: 70px;
    }
}

.info {
    margin-top: 0;
    padding-top: 1px;
    height: 84vh;
    position: relative;
}

@media(min-width: 768px) {
    .info {
        height: 74vh;
    }
}

@media(min-width: 992px) {
    .info {
        height: 90vh;
    }
}

.info>* {
    position: absolute;
    overflow: hidden;
}

.info>img {
    top: -2%;
    left: -14%;
    width: 120%;
}

@media(min-width: 768px) {
    .info>img {
        left: -9%;
        width: 110%;
    }
}

@media(min-width: 992px) {
    .info>img {
        width: 100%;
    }
}

.info>h2 {
    top: 3vh;
    left: 8%;
    z-index: 1;
    font-size: 3.8rem;
    color: #fff;
    text-shadow: 5px 7px 1px #0f2350;
    background-image: url(../img/bg/Vector5.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 140px;
    padding: 15px 40px 15px 35px;
}

@media(min-width: 768px) {
    .info>h2 {
        top: 5vh;
    }
}

@media(min-width: 992px) {
    .info>h2 {
        top: 11vh;
        left: 15%;
        font-size: 6rem;
        width: 430px;
        height: 230px;
        padding: 50px 40px 30px 80px;
    }
}

.infoBG {
    top: 22vh;
    left: 10%;
    width: 80vw;
    height: 58vh;
    background-color: #F8F4E6;
    border-radius: 20px;
}

@media(min-width: 768px) {
    .infoBG {
        top: 18vh;
        left: 6%;
        width: 86vw;
        height: 60vh;
        background-color: transparent;
        background-image: url(../img/bg/Vector2.png);
        background-size: contain;
        background-repeat: no-repeat;

    }
}

@media(min-width: 992px) {
    .infoBG {
        top: 20vh;
        left: 26%;
        width: 65vw;
        height: 65vh;
        background-image: url(../img/bg/Vector2.png);
    }
}

.infoBG>p {
    margin: 20% 0 0 8%;
    letter-spacing: 3px;
    width: 65vw;
    font-size: 1.4rem;
}

@media(min-width: 768px) {
    .infoBG>p {
        margin: 15% 0 0 15%;
        letter-spacing: 3px;
        width: 65vw;
        font-size: 1.4rem;
    }
}

@media(min-width: 992px) {
    .infoBG>p {
        margin: 12% 0 0 25%;
        width: 52%;
        font-size: 1.8rem;
    }
}

.infoBG>a {
    display: inline-block;
    margin: 20% 0 0 27%;
    padding: 2% 8%;
    background-color: transparent;
    border: 5px dashed #164A84;
    border-radius: 5px;
    transition: 0.1s ease;
    font-size: 1.5rem;
    color: #164A84;
    text-decoration: none;
}

@media(min-width: 768px) {
    .infoBG>a {
        margin: 24% 0 0 35%;
    }
}

@media(min-width: 992px) {
    .infoBG>a {
        margin: 5% 0 0 40%;
    }
}

.infoBG>a:hover {
    background-color: #164A84;
    color: #fff;
    border: 5px solid #164A84;
    transform: scale(1.06);
    border-radius: 15px;
}

/* 輪播卡片 */
.CardSlider {
    position: relative;
    display: flex;
    height: 500px;
    /* background-color: #6c7ee6; */
    overflow: visible;
    background-color: #000;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.CardSpace {
    display: flex;
    margin: 0 10% 0 10%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 80%;
    max-width: 1000px;
    height: 400px;
    margin: auto 0 auto 15px;
    padding: 0;
    background-color: rgb(248, 235, 235);
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    transition: 0.2s ease;
    position: relative;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.cards>a {
    text-decoration-line: none;
}

.imgBorder {
    position: relative;
    top: 20%;
    left: -15px;
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.imgBorder>img {
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cardLink {
    text-align: left;
    color: black;
}

.cardLink>h2 {
    display: inline;
    margin: 0 50px 0 0;
    font-size: 2.5em;
}

.cardLink>h3 {
    margin: 0 0 10px 28px;
    color: #636363;
    font-size: 1.2rem;
}

.cardList {
    margin-top: 0;
    list-style-type: none;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}

.cardList>li {
    margin-top: 5px;
}

.cardLink::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: url(../img/icon/zoom_in.svg);
    background-repeat: no-repeat;
    /* margin: 0 0 100px 0; */
    height: 40px;
    width: 40px;
    font-size: larger;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -22px 3% 0 3%;
    padding: 0 20px 5px 15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.2s ease;
    border-radius: 3px;
    user-select: none;
}

@media(min-width: 768px) {

    .prev,
    .next {
        margin: -22px 5% 0 5%;
    }
}

@media(min-width: 992px) {

    .prev,
    .next {
        margin: -22px 12% 0 12%;
    }
}

.next {
    right: 0;
    padding: 0 15px 5px 20px;
    border-radius: 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #000;
    transform: scale(1.3);
}


/* 計算機 */
.calculator {
    margin: 5vh 10% 0 10%;
    padding: 0px 20px 20px 15px;
    background-color: #fff;
    border: 3px solid #164A84;
    border-radius: 30px;
    /* box-shadow: 1px 3px 10px rgb(164, 192, 224); */
    /* overflow-y: hidden; */
}

@media(min-width: 768px) {}

@media(min-width: 992px) {
    .calculator {
        margin: 15hv 10% 5vh 10%;
        padding: 1vh 20px 5vh 15px;
        background-color: #fff;
        border: 5px solid #164A84;
        border-radius: 30px;
        /* overflow-y: hidden; */
        transition: max-height 0.5s linear;
    }

}

.hideTool {
    max-height: 250px;
}

@media(min-width: 768px) {
    .hideTool {
        max-height: 180px;
    }

}

@media(min-width: 992px) {
    .hideTool {
        max-height: 180px;
    }

}

.hideTool:hover {
    max-height: 500px;
}

@media(min-width: 768px) {
    .hideTool:hover {
        max-height: 300px;
    }
}

@media(min-width: 992px) {
    .hideTool:hover {
        max-height: 300px;
    }
}

.calculator>h2 {
    text-align: center;
    font-size: 2rem;
    color: #0f2350;
}

@media(min-width: 768px) {
    .calculator>h2 {
        text-align: center;
        font-size: 2.5rem;
        color: #0f2350;
    }
}

@media(min-width: 992px) {
    .calculator>h2 {
        font-size: 3rem;
    }
}

.calculator_col1 {
    text-align: center;
    font-size: large;
    line-height: 35px;
}

@media(min-width: 768px) {
    .calculator_col1 {
        text-align: center;
        font-size: 1.3rem;
    }
}

@media(min-width: 992px) {
    .calculator_col1 {
        text-align: center;
        font-size: 1.6rem;
    }
}

.formobile {
    display: inline;
}

@media(min-width: 768px) {
    .formobile {
        display: none;
    }
}

.calculator_col1>.cal_padding {
    padding: 15px;
}

.calculator_col2 {
    padding-left: 20px;
    line-height: 30px;
}

@media(min-width: 768px) {
    .calculator_col2 {
        font-size: 1.1rem;
        padding-left: 10px;
    }
}

@media(min-width: 992px) {
    .calculator_col2 {
        font-size: 1.4rem;
        padding-left: 0;
        text-align: center;
    }
}

.calculator_col2>.cal_padding {
    padding: 5px;
}

.calculator_col3 {
    text-align: center;
    font-size: 1.2rem;
}

@media(min-width: 768px) {
    .calculator_col3 {
        margin-top: 2.5vh;
        text-align: center;
        font-size: 1.2rem;
    }
}

@media(min-width: 992px) {
    .calculator_col3 {
        margin-top: 5vh;
        text-align: center;
        font-size: 1.6rem;
    }
}

#i_Weight,
.i_PV {
    outline: none;
    width: 40px;
    border: 0px;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 20px;
}

#i_Weight:hover,
.i_PV:hover {
    border-bottom: 1px solid blue;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(226, 248, 255);
}

#i_Weight:focus,
.i_PV:focus {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(244, 253, 255);
    box-shadow: 1px 3px 5px rgb(164, 197, 224);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#w_Sort {
    padding: 3px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
}

@media(min-width: 768px) {
    #w_Sort {
        font-size: 1.2rem;
    }
}

@media(min-width: 992px) {
    #w_Sort {
        font-size: 1.4rem;
    }
}

#btn_wFilterSort {
    margin: 0px 0px 0px 20px;
    padding: 1px 15px 3px;
    color: #F5F5F5;
    background-color: rgb(72, 116, 182);
    border: 0px dashed blue;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(130, 154, 173);
    font-size: 20px;
    font-family: "Shippori Antique B1", "Mochiy Pop One", sans-serif;
}

#btn_wFilterSort:hover {
    background-color: rgb(39, 118, 187);
    border: 0px solid blue;
    box-shadow: 1px 1px 2px rgb(48, 68, 85);
}

#btn_wFilterSort:active {
    background-color: rgb(30, 93, 148);
    border: 0px solid blue;
    box-shadow: 2px 2px 3px rgb(21, 42, 61) inset;
}

.FSreturn {
    margin: 3vh 3% 0 3%;
    padding: 3% 3% 0 3%;
    background-color: #f0fdff;
    border-radius: 30px;
    font-size: 1.1rem;
}

@media(min-width: 768px) {
    .FSreturn {
        margin: 3vh 7% 0 7%;
        padding: 3% 5% 0 5%;
        background-color: #f0fdff;
        border-radius: 30px;
        font-size: 1.3rem;
    }
}

@media(min-width: 992px) {
    .FSreturn {
        font-size: 1.4rem;
    }
}

.data, .FSreturn > ul {
    list-style-type: none;
}

.data {
    margin: 8px;
    line-height: 25px;
}

@media(min-width: 768px) {
    .data {
        margin: 10px;
        line-height: 50px;
    }
    
}

@media(min-width: 992px) {
    .data {
        margin: 10px;
        line-height: 70px;
    }
    
}


/* Consolidator 公版 */
.logoSpace {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 3px 4px rgb(153, 153, 153);
}

@media(min-width: 768px) {
    .logoSpace {
        top: 300px;
        left: 10%;
        right: auto;
        margin: auto;
        width: 250px;
        height: 250px;
        border-radius: 40px;
        box-shadow: 1px 3px 5px rgb(153, 153, 153);
    }
}

@media(min-width: 992px) {
    .logoSpace {
        width: 300px;
        height: 300px;
        border-radius: 50px;
        box-shadow: 1px 3px 6px rgb(153, 153, 153);
    }
}

.logo {
    width: 100%;
}

.ConsolidatorTop>h1 {
    margin: 120px 0 0 0;
    text-align: center;
    font-size: 40px;
}

@media(min-width: 768px) {
    .ConsolidatorTop>h1 {
        margin: 120px 0 0 13%;
        padding: 0 0 0 250px;
        font-size: 60px;
        text-align: left;
    }
}

@media(min-width: 992px) {
    .ConsolidatorTop>h1 {
        margin: 120px 0 0 13%;
        padding: 0 0 0 300px;
        font-size: 60px;
    }
}

.pageArticle {
    margin: 20px 2%;
    background-color: #e1e3f0;
}

@media(min-width: 768px) {
    .pageArticle {
        margin: 80px 5% 20px 5%;
    }
}

@media(min-width: 992px) {
    .pageArticle {
        margin: 80px 8% 20px 8%;
    }
}

.plan {
    height: 500px;
    margin: 0 auto;
    width: 96%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}